

table {
    width: 80%;
    margin-top: 1cm;
    background-color: rgb(193, 187, 187);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    color: black;
  }
  
  thead {
    background-color: black; /* Cambiar el color de fondo de la primera fila */
    color: white;
  }
 
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  h1 {
    background-color: rgba(13, 22, 33, 255); /* Color de fondo del rectángulo */
    padding: 10px; /* Espaciado interno del rectángulo */
    width: 100%;
  }

  .light-btn {
    margin-top: 0.5cm;
    background-color: #b4b4b2;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s;
    padding-left: 10px; 
    padding-right: 10px; 
  }

  .light-btn a {
    color: #010038;
  }

  
  .light-btn:hover {
    border: 2px solid #f9f9fc;
    background-color: #f0f322;
    box-shadow: inset 0 0 20px 0 #f39422;
  }

.titulo {
  font-weight: bold;
  color: white;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#id_descripcion{
  height: 90px;
}

.button-container {
  margin-top: 10px;
}

.volver {
margin-left: 20px;
background-color: #dbdcdc;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 4px;
padding-right: 4px;
border-radius:6%;
color: black;
}

label {
  display: block;
}

.volver {
  margin-right: 1px;
}

h3 {
  margin-bottom: 0.5cm;
}